body {
    font-family: $font-main;
    font-size: $font-size;
    overflow-y: scroll;
    max-width: 100%;
}
html {
    font-family: $font-header;
    font-size: $font-size;
}
a {
    text-decoration: none;
    color: $color-primary;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $color-accent;
    }
}
h1 {
    font-family: $font-header;
}
h2 {
    font-family: $font-header;
}

