.left-sidebar {
    @extend %margin-bottom-lg;
    }
.panel:last-child {
    margin-bottom: 0;
}
.vertical-slider__image {
    width: 100%;
    overflow: hidden;
}
.vertical-slider {
    border-radius: 4px;
}
.user-login {
    position: relative;
    &__tabs {
        position: absolute;
        top: 0;
        right: 15px;
        border: none !important;
        margin-right: -5px;
    }

        a {
        color: $color-gray !important;
        border: none !important;
        background-color: transparent !important;
        padding: 14px 5px 11px !important;

        }
        .active>a {
        color: $color-white !important;
        }
}
